@model Tuple<List<Post>, List<Comment>>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .postSpace 
    {
        float: left;
        width: 75%;
        margin-left: 18px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .card 
    {
        background-color: white;
        padding: 5px;
    }
    .row:after
    {
        content: "";
        display: table;
        clear: both;
        margin-top: 2px;
    }
    .content 
    {
        background-color: #EAE7E7;
        width: 127%;
        padding: 3px;
        margin-bottom: 5px;
    }

    #border2 
    {
        border: 1px dashed #ccc;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-right: 3px;
        width: 60%;
        width: 127%;
    }
    #border1 
    {
        border: 1.5px solid;
        margin-bottom: 10px;
        width: 60%;
    }
    #padding1
    {
        padding-left: 3px;
    }
</style>

<httpCookies httpOnlyCookies="true" requireSSL="true" />
<center>
    <h1>Home Page</h1>
</center>

@foreach (var post in Model.Item1)
{
    <div id="border1">
        <div class="row">
            <div class="postSpace">
                <div class="card">
                    <h2>@post.Title</h2>
                    <div class="content" style="height:200px;">@post.Content</div>
                    @foreach (var comment in Model.Item2)
                    {
                        @if (comment.PostId == post.Id)
                        {
                            <div id="border2">
                                <div id="padding1">
                                    <h5>@comment.Content</h5>
                                    <h6>@comment.MemberID</h6>
                                </div>
                            </div>
                        }
                    }
                    <button type="button"><a asp-controller="Comments" asp-action="Create" asp-route-id="@post.Id">Add Comment</a></button>
                    <p>@post.Posted</p>
                </div>
            </div>
        </div>
    </div>
}